@page "/details"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Policy = "User")]

<h3>Details</h3>

@if (confirmAuth)
{
    <RedirectToLogin />
}
else
{
    <div class="row d-flex mt-4 ms-4">
        <div class="col-3">
            <p><b>First Name:</b> @userDetailDto.FirstName</p>
            <p><b>Surname:</b> @userDetailDto.Surname</p>
            <p><b>Birth Date:</b> @birthDate</p>
            <p><b>Gender:</b> @gender</p>
        </div>
        <div class="col">
        </div>
    </div>

}
@code {
    private UserDetailDto userDetailDto = new UserDetailDto();
    private string birthDate;
    private string gender;
    private bool confirmAuth = false;


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userDetailDto.FirstName = user.FindFirst(c => c.Type == "given_name")?.Value ?? string.Empty;
            userDetailDto.Surname = user.FindFirst(c => c.Type == "family_name")?.Value ?? string.Empty;
            birthDate = user.FindFirst(c => c.Type == "birthdate")?.Value ?? string.Empty;
            gender = user.FindFirst(c => c.Type == "gender")?.Value ?? string.Empty;

            if (string.IsNullOrEmpty(userDetailDto.FirstName) || string.IsNullOrEmpty(userDetailDto.Surname) || string.IsNullOrEmpty(birthDate) || string.IsNullOrEmpty(gender))
            {
                //get
            }
        }
        else
        {
            confirmAuth = true;
        }
    }
}
