@page "/getstrings"


<h3>Get Strings</h3>
<div class="d-flex justify-content-center mt-4">
    <EditForm Model="@numberModel" OnValidSubmit="@HandleValidSubmit" class="w-25">
        <DataAnnotationsValidator />
        <label for="inputNumber">Choose a number:</label>
        <InputNumber id="inputNumber" class="form-control w-100" @bind-Value="numberModel.Number" />
        <ValidationSummary class="mt-1" />
        <button class="btn btn-primary mt-2" type="submit">Accept</button>
    </EditForm>
</div>
@if (Show)
{
    <div class="m-5">
        <RadzenDataGrid Data="@ArrayStr" TItem="StringValueDto" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true"
                    PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="StringValueDto" Property="Value" Filterable="false" Title="String" Frozen="true" Width="100%" TextAlign="TextAlign.Center" />
            </Columns>
        </RadzenDataGrid>
    </div>
    <div class="row d-flex justify-content-between mt-3 ms-5 me-5">
        <button class="btn btn-primary mt-2 w-25" type="submit" @onclick="SeeAll">See All</button>
        @if (!IsSaved)
        {
            <button class="btn btn-primary mt-2 w-25" type="submit" @onclick="SaveStrings">Save</button>

        }
    </div>
}
<button class="btn btn-primary btn-backTo" @onclick="BackToSendys">Back To Sendys Menu</button>

